NESHAN_API_KEY=your_neshan_key
MAPIR_API_KEY=your_mapir_key
TOMTOM_API_KEY=optional_tomtom_search_key
OPENROUTESERVICE_API_KEY=optional_openrouteservice_routing_fallback_key
AI_API_KEY=optional_ai_key
OPENWEATHERMAP_API_KEY=optional_openweathermap_key_for_fog_and_wind_warnings
KEYS_DECRYPTION_SECRET=replace_when_you_reencrypt_keys
